<div id="fullpage">
    <div class="section" id="section1">
    	<div id="home-rectangle">
    		<%= image_tag("bonobos_logo.png", :alt => "header_logo", :class => "header_logo") %>
    		<hr class="style-one">
    		<h2>Outfit Randomizer</h2>
    		<h3>Create new Bonobos outfits with a single click. <br /> Get inspired. <br />Easily share your creations with your friends!</h3>
    	</div>

			<button class="button-outfits" onclick="$.fn.fullpage.moveSectionDown();">Latest Outfits</button>
			<button class="button-about" onclick="$.fn.fullpage.moveTo(3, 0);">About Me</button>

    </div>
    
    <div class="section" id="section2">

    	<div class="ribbon">
    	</div>

    	<h2 class="item_type">&nbsp;</h2>
    	<h3 class="item_name">&nbsp;</h3>
		
			<% @last_outfits.each do |last_outfit| %>
				<div class="slide">
					<%= render(:partial => "view_outfit", :locals => {:outfit => last_outfit, :more_links => true}) %>
				</div>
			<% end %>

    </div>


		<div class="section" id="section3">
    		<div class="ribbon">
    		</div>

    		<div id="header">
    			<%= image_tag("about_image.png", :alt => "about_image", :class => "about-image") %>
    		</div>

    		<hr class="style-one">
    		<h2 id="about-first">Hey there!</h2>
    		<h3 id="about-second">My name is Jan.<br />
    		I come from a business background (MIM, project management, business development).<br />
    		I thrive in start-up environment. My current venture is Solosso - a premium online dress shirt brand.<br />
    		I love Ruby on Rails. I love to solve problems and I learn fast.<br />
    		At Bonobos I'd like to develop my skills and passion for coding.<br /> 
    		I'm excited to add value in any field where Bonobos can benefit from my experience in fashion and e-commerce. <br />
    		<a id="about-link" href="mailto:jan.klimo@gmail.com?subject=Hello from Bonobos" target="_blank">Let's talk!</a>
    		</h3>
  

				<%= form_for(:outfit, :url => {:action => 'create'}) do |f| %>
	  	  	<%= render(:partial => "form", :locals => {:f => f}) %>

				  <div class="form-buttons">
				    <%= submit_tag("New Outfit") %>
				  </div>

				<% end %>

    </div>

</div>


