<div id="fullpage">
  <div class="section" id="section-view">
    <div class="ribbon">
    </div>

    <h2 class="item_type">&nbsp;</h2>
    <h3 class="item_name">&nbsp;</h3> 

    <%= render(:partial => "view_outfit", :locals => {:outfit => @outfit, :more_links => true}) %>

    <button class="button-home-tiny" onclick="window.location.href = '/';" title="Back Home"></button>
  
    <div id="social-wrapper">
      <div class="fb-share-button" data-href="<%= request.original_url %>" data-width="30" data-type="box_count"></div>
    </div>

  </div>

  <% if !@further_images.nil? %>  
    <div class="section" id="section-view-more">
      <div class="ribbon">
      </div>

      <% @further_images.each do |link| %>
        <div class="slide">
            <img src="<%= link %>" style="display: block; margin: 9% auto; height: 400px; ">
        </div>
      <% end %>
    
      <button class="button-outfit" onclick="$.fn.fullpage.moveTo(1, 0);">Back to Outfit</button>
      <button class="button-home" onclick="window.location.href = '/';">Back Home</button>

    </div>
  <% end %>

</div>


<p>Looking cool, right? Easily build your own! Start by choosing a setting:</p>


	<%= form_for(:outfit, :url => {:action => 'create'}) do |f| %>
  	  
		<%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("New Outfit") %>
    </div>

  <% end %>