<h1>Bonobos Outfit Randomizer</h1>
<p>A place where you can easily put together your own unique Bonobos outfits and share them with friends.</p>

<%= render(:partial => "view_outfit", :locals => {:outfit => @outfit, :more_links => true}) %>

<% if !@further_images.nil? %>	

  <div style="width:100%;text-align: center;">
  	<div id="slider">
      <% @further_images.each do |link| %>
				<div>
					<img src="<%= link %>" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 0; height: 400px; ">
				</div>
			<% end %>
    </div>
  </div>

<% end %>

<p>Looking cool, right? Easily build your own! Start by choosing a setting:</p>


	<%= form_for(:outfit, :url => {:action => 'create'}) do |f| %>
  	  
		<%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("New Outfit") %>
    </div>

  <% end %>